.App {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  margin-top: 15px;
}

h1 {
  margin: 0;
  color: white;
}

.header {
  background-color: #192a56;
  padding: 10px;
  width: 100%;
}

.data {
  margin-top: 14px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.data_val {
  display: flex;
  justify-content: space-between;
  width: 60%;
  background-color: rgb(252, 246, 246);
  padding: 0px 9px 0px 9px;
  box-shadow: inset;
  margin-top: 14px;
}